footer {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section p {
    flex-basis: 30%;
    color: #ffffff;
}

h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}