<footer>
    <div class="footer-section">
      <h3>Cuenta</h3>
      <p>Registrate</p>
      <p>Perdí mi contraseña</p>
    </div>
    
    <div class="footer-section">
      <h3>Contacto</h3>
      <p>Contáctanos</p>
      <p>Preguntas frecuentes</p>
    </div>
    
    <div class="footer-section">
      <h3>Servicio al cliente</h3>
      <p>Términos y condiciones</p>
      <p>Política de devolución y cambio</p>
      <p>Política de privacidad de datos</p>
      <p>Preguntas frecuentes</p>
    </div>

  </footer>