<!-- Container -->
<div class="flex flex-wrap min-h-screen w-full content-center justify-center bg-gray-200 py-10">

  <!-- Login component -->
  <div class="flex shadow-md">
    <!-- Login form -->
    <div class="flex flex-wrap content-center justify-center rounded-l-md bg-white" style="width: 24rem; height: 32rem;">
      <div class="w-72">
        <!-- Heading -->
        <h1 class="text-xl font-semibold">Hola</h1>
        <small class="text-gray-400">Hola! Ingresa tus detalles</small>

        <!-- Form -->
        <form class="mt-4" (ngSubmit)="login()">
          <div class="mb-3">
            <label class="mb-2 block text-xs font-semibold">Nombre de usuario</label>
            <input [(ngModel)]="loginData.username" name="username" type="email" placeholder="Ingresa tu usuario" class="block w-full rounded-md border border-gray-300 focus:border-purple-700 focus:outline-none focus:ring-1 focus:ring-purple-700 py-1 px-1.5 text-gray-500">
          </div>

          <div class="mb-3">
            <label class="mb-2 block text-xs font-semibold">Contraseña</label>
            <input [(ngModel)]="loginData.password" name="password" type="password" placeholder="*****" class="block w-full rounded-md border border-gray-300 focus:border-purple-700 focus:outline-none focus:ring-1 focus:ring-purple-700 py-1 px-1.5 text-gray-500">
          </div>

          <div class="mb-3">
            <button class="mb-1.5 block w-full text-center text-white bg-blue-500 hover:bg-blue-600 px-2 py-1.5 rounded-md">Ingresar</button>
          </div>
        </form>

        <!-- Footer -->
        <div class="text-center">
          <span class="text-xs text-gray-400 font-semibold">¿No tienes cuenta?</span>
          <a routerLink="/register" class="text-xs font-semibold text-blue-500 cursor-pointer"> Registrate!</a>
        </div>
      </div>
    </div>

    <!-- Login banner -->
    <div class="flex flex-wrap content-center justify-center rounded-r-md" style="width: 24rem; height: 32rem;">
      <img class="w-full h-full bg-center bg-no-repeat bg-cover rounded-r-md" src="https://img.lovepik.com/free-png/20211216/lovepik-labor-day-laborer-png-image_401698556_wh1200.png">
    </div>

  </div>
</div>
